<div class="page-container">

  <header class="teams-header">
    <h1>הצוותים שלי</h1>

    <button (click)="toggleCreate()" class="circle-btn">
      @if (isCreateOpen()) { ✖ } @else { ➕ }
    </button>
  </header>

  @if (isCreateOpen()) {
  <div class="create-team-box slide-in">
    <input type="text" [formControl]="newTeamNameControl" placeholder="שם צוות חדש...">
    <button (click)="createNewTeam()" [disabled]="newTeamNameControl.invalid">
      שמור
    </button>
  </div>
  }

  <main class="teams-grid">

    @if (teamsService.isLoading()) {
    <div class="status-msg">טוען נתונים... ⏳</div>
    }

    @else if (teamsService.error()) {
    <div class="status-msg error">שגיאה: {{ teamsService.error() }} ⚠️</div>
    }

    @else {

    @for (team of teamsService.myTeams(); track team.id) {

    <div class="team-card">


      <h3>{{ team.name }}</h3>
      <p>👥 {{ team.members?.length || 0 }} חברים</p>



      <div class="actions">
        <button (click)="toggleAddMember(team.id)">
          {{ activeTeamForMember() === team.id ? 'ביטול' : '➕ הוסף חבר' }}
        </button>
      </div>

      <div class="members-list">
        <strong>חברי הצוות:</strong>

        @if (team.members === undefined) {
        <p>טוען חברים... ⏳</p>
        } @else if (team.members.length === 0) {
        <p>אין עדיין חברים בצוות זה.</p>
        } @else {
        <ul>
          @for (member of team.members; track member.id) {
          <li>{{ member.name }}</li>
          }
        </ul>
        }
      </div>




      @if (activeTeamForMember() == team.id) {
      <div class="add-member-box">

        @if (activeTeamForMember() == team.id) {
        <div class="add-member-box">
          <label>בחר חבר להוספה:</label>

          <select [formControl]="selectedUserEmail">
            <option value="" disabled selected>-- בחר משתמש --</option>
            @for (user of teamsService.allUsers(); track user.id) {
            <option [value]="user.id">
              {{ user.name }}
            </option>
            }
          </select>

          <div class="add-member-actions">
            <button type="button" class="btn-secondary" (click)="activeTeamForMember.set(null)">
              ביטול
            </button>
            <button (click)="submitAddMember(team.id)" [disabled]="selectedUserEmail.invalid" class="btn-primary">
              אישור הוספה
            </button>
          </div>
        </div>
        }

      </div>
      }

      <div class="card-top">
      </div>

      <div class="card-info">
      </div>
      <button class="enter-btn" [routerLink]="['/teams', team.id, 'projects']">צפה בפרויקטים</button>
      <button class="delete-btn" (click)="deleteTeam(team.id, $event)" title="מחק צוות">🗑️</button>

    </div>

    } @empty {
    <div class="empty-state">
      <p>עדיין אין צוותים. זה הזמן ליצור את הראשון! 👆</p>
    </div>
    }
    }
  </main>


</div>
